<div class="login-container">
    <p-card styleClass="welcome-card text-center">
        <div class="pt-4 pb-2 text-center">
            <img src="/assets/images/logo-padaria.png" alt="Logo" class="login-logo mb-3">
            <h2 class="m-0 brand-font text-4xl">A Nossa Padaria</h2>
            <p class="text-secondary mt-2">O sabor artesanal que você ama,<br>agora online.</p>
        </div>

        <div class="p-4">
            <p class="mb-5 text-center" style="line-height: 1.5;">
                Faça seu pedido de pães frescos e doces diretamente pelo sistema.<br>
                Acesse sua conta para começar.
            </p>

            <p-button label="ENTRAR OU CADASTRAR" icon="pi pi-user" 
                      styleClass="p-button-primary w-full font-bold p-button-lg" 
                      (onClick)="login()"></p-button>
        </div>
    </p-card>
</div>